dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header" id="header">
          <div class="container">
            <div class="header-wrap">
              <div class="header-left"><a class="header-logo" href="/"><span>Logo</span></a>
<nav class="header__nav">
  <ul>
    <li aria-selected="false"><a href="javascript:void(0);" title="Хайповое">Хайповое</a></li>
    <li aria-selected="false"><a href="javascript:void(0);" title="Новые серии">Новые серии</a></li>
    <li aria-selected="true"><a href="javascript:void(0);" title="Новинки">Новинки</a></li>
  </ul>
</nav>
              </div>
              <form class="header-search-field">
                <button class="header-search__button-close" type="button"><i class="icon-close"></i></button>
                <input type="text">
                <button class="header-search__button-submit"><i class="icon-search"></i></button>
              </form>
              <button class="header__btn-filter" data-filter-modal><span>Фильтр </span><i class="icon-filter"></i></button>
            </div>
          </div>
        </header>
        <div class="header-search-results container">
          <div class="header-search-results__wrap" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
            <div class="header-search-results-serials">
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/1.png" alt="Сотня"></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Сотня</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–...</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/6.png" alt="Агенты Щ. И. Т."></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Агенты Щ. И. Т.</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–2020</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
            </div>
            <hr>
            <div class="header-search-results-episodes">
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9388" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/1.png" alt="24 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">24 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="1846" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/2.png" alt="23 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">23 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="2674" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/3.png" alt="22 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">22 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9365" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/4.png" alt="21 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">21 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
            </div><a class="btn btn_yellow header-search-results__btn-more full-width" href="javascript:void(0);"><span>
                 Показать все результаты<i class="icon-duble-chevron-down"></i></span></a>
          </div>
        </div>
        <div class="header-search__backdrop"></div>
                <div class="modal modal-filter" id="modal-filter" data-title="Поиск нужного сериала">
                  <form class="modal-search__form">
                    <div class="col-2">
                              <div class="select  form-item" id="genre" aria-expanded="false" data-label="Жанр">
                                <select id="select-genre" name="genre">
                                  <option value="">Все</option>
                                  <option value="1">Биография</option>
                                  <option value="2">Боевик</option>
                                  <option value="3">Вестерн</option>
                                  <option value="4">Военный</option>
                                  <option value="5">Детектив</option>
                                  <option value="6">Дорамы</option>
                                  <option value="7">Драма</option>
                                </select>
                              </div>
                              <div class="select  form-item" id="status" aria-expanded="false" data-label="Статус сериала">
                                <select id="select-status" name="status">
                                  <option value="">Все</option>
                                  <option value="1">Выходит</option>
                                  <option value="2">Закрыт/Завершен</option>
                                </select>
                              </div>
                    </div>
                    <div class="col-2">
                              <div class="select  form-item" id="country" aria-expanded="false" data-label="Страна">
                                <select id="select-country" name="country">
                                  <option value="">Все</option>
                                  <option value="1">Австралия</option>
                                  <option value="2">Австрия</option>
                                  <option value="3">Аргентина</option>
                                  <option value="4">Бельгия</option>
                                  <option value="5">Бразилия</option>
                                  <option value="6">Великобритания</option>
                                  <option value="7">Венгрия</option>
                                  <option value="8">Германия</option>
                                  <option value="9">Дания</option>
                                  <option value="10">Израиль</option>
                                  <option value="11">Индия</option>
                                </select>
                              </div>
                              <div class="select  form-item" id="tv" aria-expanded="false" data-label="Телеканал">
                                <select id="select-tv" name="tv">
                                  <option value="">Все</option>
                                  <option value="1">FX</option>
                                  <option value="2">Netflix</option>
                                  <option value="3">BBC</option>
                                </select>
                              </div>
                    </div>
                    <button class="btn"><span>Найти сериал</span></button>
                  </form>
                  <button class="link modal-search__btn-clear">Сбросить</button>
                  <button class="btn btn_outline-gradient full-width modal-search__btn-random"><span>Случайный сериал</span></button>
                </div>
        <div class="container">
          <main class="main-page">
            <h1 class="page-title">Новые серии онлайн</h1>
            <div class="catalog">
              <ul class="catalog-tabs" role="tablist">
                <li class="catalog-tabs__item" role="tab" aria-selected="true"><a href="javascript:void(0)">все</a></li>
                <li class="catalog-tabs__item" role="tab" aria-selected="false"><a href="javascript:void(0)">сериалы</a></li>
                <li class="catalog-tabs__item" role="tab" aria-selected="false"><a href="javascript:void(0)">аниме</a></li>
                <li class="catalog-tabs__item" role="tab" aria-selected="false"><a href="javascript:void(0)">мультсериалы</a></li>
              </ul>
              <div class="catalog-section">
                <div class="catalog-section-nav">
                  <button class="catalog-section-nav__btn prev icon-chevron-left"></button><span>14 июня</span>
                </div>
                <div class="catalog-section-episodes">
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9374" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/1.png" alt="Агенты Щ. И. T."></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Агенты Щ. И. T.</a>
                            <div class="catalog-episode__part"><span class="caption-2">7 сезон </span><span class="caption-3">3 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9343" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/2.png" alt="Сотня"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Сотня</a>
                            <div class="catalog-episode__part"><span class="caption-2">7 сезон </span><span class="caption-3">4 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9473" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/3.png" alt="Чем мы заняты в тени"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Чем мы заняты в тени</a>
                            <div class="catalog-episode__part"><span class="caption-2">2 сезон </span><span class="caption-3">10 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="4379" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/4.png" alt="Личная жизнь"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Личная жизнь</a>
                            <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">9 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9279" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/5.png" alt="Личная жизнь"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Личная жизнь</a>
                            <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">8 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9178" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/6.png" alt="Грязный Джон"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Грязный Джон</a>
                            <div class="catalog-episode__part"><span class="caption-2">2 сезон </span><span class="caption-3">3 серия</span>
                            </div>
                          </div>
                </div>
              </div>
              <div class="catalog-section">
                <div class="catalog-section-nav">
                  <button class="catalog-section-nav__btn prev icon-chevron-left"></button><span>13 июня</span>
                  <button class="catalog-section-nav__btn next icon-chevron-right"></button>
                </div>
                <div class="catalog-section-episodes">
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8303" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/7.png" alt="Послелний настоящий гангстер"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Послелний настоящий гангстер</a>
                            <div class="catalog-episode__part"><span class="caption-2">3 сезон </span><span class="caption-3">10 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8333" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/8.png" alt="Кондор"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Кондор</a>
                            <div class="catalog-episode__part"><span class="caption-2">2 сезон </span><span class="caption-3">1 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8803" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/9.png" alt="Слово на букву А"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Слово на букву А</a>
                            <div class="catalog-episode__part"><span class="caption-2">3 сезон </span><span class="caption-3">6 серия</span>
                            </div>
                          </div>
                </div>
              </div>
              <div class="catalog-section">
                <div class="catalog-section-nav">
                  <button class="catalog-section-nav__btn prev icon-chevron-left"></button><span>12 июня</span>
                  <button class="catalog-section-nav__btn next icon-chevron-right"></button>
                </div>
                <div class="catalog-section-episodes">
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9997" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/10.png" alt="Старгерл"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Старгерл</a>
                            <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">4 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9973" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/11.png" alt="Личная жизнь"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Личная жизнь</a>
                            <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">7 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9793" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/12.png" alt="Агенты Щ. И. T."></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Агенты Щ. И. T.</a>
                            <div class="catalog-episode__part"><span class="caption-2">7 сезон </span><span class="caption-3">3 серия</span>
                            </div>
                          </div>
                          <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="7993" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/main-catalog-episodes/13.png" alt="Лучшие в Лос-Анжелесе"></a><a class="catalog-episode__name caption-1" href="javascript:void(0);">Лучшие в Лос-Анжелесе</a>
                            <div class="catalog-episode__part"><span class="caption-2">7 сезон </span><span class="caption-3">3 серия</span>
                            </div>
                          </div>
                </div>
              </div>
            </div>
            <div class="page-description">
              <h2>Почему стоит смотреть сериалы</h2>
              <p>
                 Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.</p>
              <p>
                 Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
                Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
              </p>
              <p>
                 Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
                смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
              </p>
              <p>
                 Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
                «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
                нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
                нас искать информацию о различных занимательных фактах.
              </p>
            </div>
          </main>
        </div>
      </div>
<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-left"><span>&copy; 2020, Название проекта</span></div>
      <div class="footer-right"><a class="footer__mail" href="mail:mail@protomail.com">mail@protomail.com</a>
        <div class="footer__social"><a href="javascript:void(0);"><span><i class="icon-telegram"></i></span></a><a href="javascript:void(0);"><span><i class="icon-vk"></i></span></a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/index.pug
include mixins/catalog-episode.pug
- var episodes = [
-		[
-			{id: 9374, img: './images/main-catalog-episodes/1.png', name: 'Агенты Щ. И. T.', season: 7, episode: 3},
-			{id: 9343, img: './images/main-catalog-episodes/2.png', name: 'Сотня', season: 7, episode: 4},
-			{id: 9473, img: './images/main-catalog-episodes/3.png', name: 'Чем мы заняты в тени', season: 2, episode: 10},
-			{id: 4379, img: './images/main-catalog-episodes/4.png', name: 'Личная жизнь', season: 1, episode: 9},
-			{id: 9279, img: './images/main-catalog-episodes/5.png', name: 'Личная жизнь', season: 1, episode: 8},
-			{id: 9178, img: './images/main-catalog-episodes/6.png', name: 'Грязный Джон', season: 2, episode: 3},
-		],
-		[
-			{id: 8303, img: './images/main-catalog-episodes/7.png', name: 'Послелний настоящий гангстер', season: 3, episode: 10},
-			{id: 8333, img: './images/main-catalog-episodes/8.png', name: 'Кондор', season: 2, episode: 1},
-			{id: 8803, img: './images/main-catalog-episodes/9.png', name: 'Слово на букву А', season: 3, episode: 6},
-		],
-		[
-			{id: 9997, img: './images/main-catalog-episodes/10.png', name: 'Старгерл', season: 1, episode: 4},
-			{id: 9973, img: './images/main-catalog-episodes/11.png', name: 'Личная жизнь', season: 1, episode: 7},
-			{id: 9793, img: './images/main-catalog-episodes/12.png', name: 'Агенты Щ. И. T.', season: 7, episode: 3},
-			{id: 7993, img: './images/main-catalog-episodes/13.png', name: 'Лучшие в Лос-Анжелесе', season: 7, episode: 3}
-		]
-]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Главная
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.main-page
						h1.page-title Новые серии онлайн

						.catalog

							ul.catalog-tabs(role="tablist")
								li.catalog-tabs__item(role="tab" aria-selected="true")
									a(href="javascript:void(0)") все
								li.catalog-tabs__item(role="tab" aria-selected="false")
									a(href="javascript:void(0)") сериалы
								li.catalog-tabs__item(role="tab" aria-selected="false")
									a(href="javascript:void(0)") аниме
								li.catalog-tabs__item(role="tab" aria-selected="false")
									a(href="javascript:void(0)") мультсериалы

							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span 14 июня
								.catalog-section-episodes
									each episode in episodes[0]
										+catalog-episode(episode)
							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span 13 июня
									button.catalog-section-nav__btn.next.icon-chevron-right
								.catalog-section-episodes
									each episode in episodes[1]
										+catalog-episode(episode)
							.catalog-section
								.catalog-section-nav
									button.catalog-section-nav__btn.prev.icon-chevron-left
									span 12 июня
									button.catalog-section-nav__btn.next.icon-chevron-right
								.catalog-section-episodes
									each episode in episodes[2]
										+catalog-episode(episode)

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

			include includes/footer.pug
