src/random.pug
include mixins/serial-in-search.pug
include mixins/breadcrumbs.pug
- var serials = [
-		{img: './images/hype-serials/11.png', name: 'Сквозь снег', originalName: 'The 100, 2014–2020'},
-		{img: './images/hype-serials/6.png', name: 'Агенты Щ. И. Т.', originalName: 'The 100, 2014–2020'},
-		{img: './images/hype-serials/5.png', name: 'Слепое пятно', originalName: 'The 100, 2014–2019'},
-		{img: './images/hype-serials/9.png', name: 'Теория большого взрыва', originalName: 'The 100, 2014–...'},
- ]

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Результаты рандома
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.random-page
						h1.page-title Результаты поиска рандомного сериала

						button.btn.btn_outline-gradient.full-width
							span 
								i.icon-refresh
								| Случайный сериал

						.serial-catalog
							each serial in serials
								+serial-in-search(serial)

						.page-description
							h2 Почему стоит смотреть сериалы
							p 
								| Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.
							p 
								| Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
								| Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
							p 
								| Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
								| смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
							p 
								| Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
								| «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
								| нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
								| нас искать информацию о различных занимательных фактах.

				+breadcrumbs(['Результат рандома'])

			include includes/footer.pug

dist/random.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Результаты рандома</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header" id="header">
          <div class="container">
            <div class="header-wrap">
              <div class="header-left"><a class="header-logo" href="/"><span>Logo</span></a>
<nav class="header__nav">
  <ul>
    <li aria-selected="false"><a href="javascript:void(0);" title="Хайповое">Хайповое</a></li>
    <li aria-selected="false"><a href="javascript:void(0);" title="Новые серии">Новые серии</a></li>
    <li aria-selected="true"><a href="javascript:void(0);" title="Новинки">Новинки</a></li>
  </ul>
</nav>
              </div>
              <form class="header-search-field">
                <button class="header-search__button-close" type="button"><i class="icon-close"></i></button>
                <input type="text">
                <button class="header-search__button-submit"><i class="icon-search"></i></button>
              </form>
              <button class="header__btn-filter" data-filter-modal><span>Фильтр </span><i class="icon-filter"></i></button>
            </div>
          </div>
        </header>
        <div class="header-search-results container">
          <div class="header-search-results__wrap" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
            <div class="header-search-results-serials">
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/1.png" alt="Сотня"></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Сотня</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–...</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/6.png" alt="Агенты Щ. И. Т."></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Агенты Щ. И. Т.</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–2020</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
            </div>
            <hr>
            <div class="header-search-results-episodes">
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9388" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/1.png" alt="24 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">24 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="1846" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/2.png" alt="23 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">23 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="2674" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/3.png" alt="22 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">22 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9365" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/4.png" alt="21 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">21 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
            </div><a class="btn btn_yellow header-search-results__btn-more full-width" href="javascript:void(0);"><span>
                 Показать все результаты<i class="icon-duble-chevron-down"></i></span></a>
          </div>
        </div>
        <div class="header-search__backdrop"></div>
                <div class="modal modal-filter" id="modal-filter" data-title="Поиск нужного сериала">
                  <form class="modal-search__form">
                    <div class="col-2">
                              <div class="select  form-item" id="genre" aria-expanded="false" data-label="Жанр">
                                <select id="select-genre" name="genre">
                                  <option value="">Все</option>
                                  <option value="1">Биография</option>
                                  <option value="2">Боевик</option>
                                  <option value="3">Вестерн</option>
                                  <option value="4">Военный</option>
                                  <option value="5">Детектив</option>
                                  <option value="6">Дорамы</option>
                                  <option value="7">Драма</option>
                                </select>
                              </div>
                              <div class="select  form-item" id="status" aria-expanded="false" data-label="Статус сериала">
                                <select id="select-status" name="status">
                                  <option value="">Все</option>
                                  <option value="1">Выходит</option>
                                  <option value="2">Закрыт/Завершен</option>
                                </select>
                              </div>
                    </div>
                    <div class="col-2">
                              <div class="select  form-item" id="country" aria-expanded="false" data-label="Страна">
                                <select id="select-country" name="country">
                                  <option value="">Все</option>
                                  <option value="1">Австралия</option>
                                  <option value="2">Австрия</option>
                                  <option value="3">Аргентина</option>
                                  <option value="4">Бельгия</option>
                                  <option value="5">Бразилия</option>
                                  <option value="6">Великобритания</option>
                                  <option value="7">Венгрия</option>
                                  <option value="8">Германия</option>
                                  <option value="9">Дания</option>
                                  <option value="10">Израиль</option>
                                  <option value="11">Индия</option>
                                </select>
                              </div>
                              <div class="select  form-item" id="tv" aria-expanded="false" data-label="Телеканал">
                                <select id="select-tv" name="tv">
                                  <option value="">Все</option>
                                  <option value="1">FX</option>
                                  <option value="2">Netflix</option>
                                  <option value="3">BBC</option>
                                </select>
                              </div>
                    </div>
                    <button class="btn"><span>Найти сериал</span></button>
                  </form>
                  <button class="link modal-search__btn-clear">Сбросить</button>
                  <button class="btn btn_outline-gradient full-width modal-search__btn-random"><span>Случайный сериал</span></button>
                </div>
        <div class="container">
          <main class="random-page">
            <h1 class="page-title">Результаты поиска рандомного сериала</h1>
            <button class="btn btn_outline-gradient full-width"><span> <i class="icon-refresh"></i>Случайный сериал</span></button>
            <div class="serial-catalog">
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/11.png" alt="Сквозь снег"></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Сквозь снег</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–2020</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/6.png" alt="Агенты Щ. И. Т."></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Агенты Щ. И. Т.</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–2020</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/5.png" alt="Слепое пятно"></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Слепое пятно</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–2019</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/9.png" alt="Теория большого взрыва"></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Теория большого взрыва</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–...</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="page-description">
              <h2>Почему стоит смотреть сериалы</h2>
              <p>
                 Есть как минимум восемь причин, по которым сериальные маньяки могут не стесняться своего увлечения.</p>
              <p>
                 Возможно, вы считаете, что сериалы — это всего лишь бессмысленное развлечение, пустая трата времени. 
                Однако такое времяпрепровождение может привнести в вашу жизнь много хорошего.
              </p>
              <p>
                 Не будем вспоминать о просмотре сериалов на иностранном языке — здесь польза очевидна. Разберёмся, как 
                смотреть сериалы «по-умному» и в каких случаях их можно потреблять целыми сезонами.
              </p>
              <p>
                 Сериалы, основанные на реальных событиях, дают нам новые знания. Только благодаря сериалу Дэвида Финчера 
                «Охотник за разумом» я узнала, что криминальная психология зародилась в 70-е, а её основоположником был весьма 
                нетривиальный агент ФБР. Это дало мне повод прочесть его биографию и ряд работ по психопатологии. Сериалы подталкивают 
                нас искать информацию о различных занимательных фактах.
              </p>
            </div>
          </main>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ul> 
              <li><a href="/">Главная</a></li>
              <li><span>Результат рандома</span>
              </li>
            </ul>
          </div>
        </nav>
      </div>
<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-left"><span>&copy; 2020, Название проекта</span></div>
      <div class="footer-right"><a class="footer__mail" href="mail:mail@protomail.com">mail@protomail.com</a>
        <div class="footer__social"><a href="javascript:void(0);"><span><i class="icon-telegram"></i></span></a><a href="javascript:void(0);"><span><i class="icon-vk"></i></span></a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
