src/serial.pug
include mixins/catalog-episode.pug
include mixins/service-rating.pug
include mixins/breadcrumbs.pug
- var randomEpisodes = [
-		{id: 6341, img: './images/serial-episodes/22.png', season: 2, episode: 2, rating: 8.9},
-		{id: 6312, img: './images/serial-episodes/42.png', season: 4, episode: 2, rating: 8.4},
-		{id: 6142, img: './images/serial-episodes/28.png', season: 2, episode: 8, rating: 7.7},
-		{id: 1342, img: './images/serial-episodes/47.png', season: 4, episode: 7, rating: 8.2},
-	];

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Страница сериала
	body
		.wrap
			.wrap-content
				include includes/header.pug

				.container
					main.serial-page
						h1.page-title Рик и Морти смотреть онлайн

						.serial-nav
							.serial-nav__item
								a(href="#all-episodes") 1 серия
							.serial-nav__item
								a(href="#all-episodes") Все серии
							.serial-nav__item
								a(href="#best-episodes") Лучшие серии
							.serial-nav__item
								a(href="#about-serial") О сериале

						.serial-player
							.serial-player-wrap
								iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0")

						.tabs.serial-tabs(role="tablist")
							.tabs-list.col_2
								.tabs-list__border
								a.tabs-list__item(href="#all-episodes" role="tab" aria-selected="true") 
									span Все серии
								a.tabs-list__item(href="#best-episodes" role="tab" aria-selected="false") 
									span Лучшие серии
										sup
											i.icon-imdb
							.tabs-content
								.tabs-content-list
									#all-episodes.tabs-content-list__item(aria-hidden="false")
										include includes/tab-all-episodes.pug
									#best-episodes.tabs-content-list__item(aria-hidden="true")
										include includes/tab-best-episodes.pug

						.serial-random-episodes
							button.btn.btn_outline-gradient.full-width.serial-random-episodes__btn
								span 
									// по умолчанию этой иконки нет, добавляется поле нажатия
									i.icon-refresh
									| Случайная серия
							// по умолчанию эпизодов нет
							.serial-random-episodes-list
								each episode in randomEpisodes
									+catalog-episode(episode)

						#about-serial.serial-info
							.serial-info-title
								h2.serial-info__title Подробнее о сериале «Рик и Морти»
							.serial-info-body
								.serial-info__poster
									img(src="./images/serial-poster.png", alt="")

								.serial-info-header
									h3.serial-info__name Рик и Морти
									p.serial-info__original-name Rick and Morty, 2013–...
									ul.serial-info__props
										li мультфильм, комедия
										li Великобритания
										li выходит
										li.serial-info__amount-seasons 5 сезонов
									.serial-info__rating
										+service-rating()
										a.link(href="javascript:void(0);" data-trailer-id="2155") 
											i.icon-play
											span Трейлер

								include includes/serial-rating.pug

								.serial-info__description.show-more
									.show-more-wrap(aria-expanded="false" data-height="({desktop:147,mobile:350})")
										p 
											| В центре сюжета — школьник по имени Морти и его дедушка Рик. Морти — самый обычный мальчик, 
											| который ничем не отличается от своих сверстников. А вот его дедуля занимается необычными 
											| научными исследованиями и зачастую полностью неадекватен. Он может в любое время дня и ночи 
											| схватить внука и отправиться вместе с ним в межпространственные приключения с помощью 
											| построенной из разного хлама летающей тарелки, которая способна перемещаться сквозь временной 
											| тоннель. Каждый раз эта парочка оказывается в самых неожиданных местах и самых нелепых ситуациях.
									a.show-more__toggle(href="javascript:void(0);")
										span Посмотреть все описание
										i.icon-duble-chevron-down

						.comments
							img(src="./images/comments.png", alt="")

				+breadcrumbs(['Рик и Морти'])

			include includes/footer.pug

dist/serial.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница сериала</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <div class="wrap-content">
        <header class="header" id="header">
          <div class="container">
            <div class="header-wrap">
              <div class="header-left"><a class="header-logo" href="/"><span>Logo</span></a>
<nav class="header__nav">
  <ul>
    <li aria-selected="false"><a href="javascript:void(0);" title="Хайповое">Хайповое</a></li>
    <li aria-selected="false"><a href="javascript:void(0);" title="Новые серии">Новые серии</a></li>
    <li aria-selected="true"><a href="javascript:void(0);" title="Новинки">Новинки</a></li>
  </ul>
</nav>
              </div>
              <form class="header-search-field">
                <button class="header-search__button-close" type="button"><i class="icon-close"></i></button>
                <input type="text">
                <button class="header-search__button-submit"><i class="icon-search"></i></button>
              </form>
              <button class="header__btn-filter" data-filter-modal><span>Фильтр </span><i class="icon-filter"></i></button>
            </div>
          </div>
        </header>
        <div class="header-search-results container">
          <div class="header-search-results__wrap" data-simplebar data-simplebar-auto-hide="false" data-simplebar-force-visible="y">
            <div class="header-search-results-serials">
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/1.png" alt="Сотня"></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Сотня</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–...</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
                      <div class="serial-in-search"><a class="serial-in-search__img" href="javascript:void(0);"><img src="./images/hype-serials/6.png" alt="Агенты Щ. И. Т."></a>
                        <div class="serial-in-search-content">
                          <div class="serial-in-search-content__header"><a class="serial-in-search__name" href="javascript:void(0);">
                              <h3>Агенты Щ. И. Т.</h3></a>
                            <p class="serial-in-search__original-name">The 100, 2014–2020</p>
                          </div>
                          <div class="serial-in-search-content__body">
                            <ul class="serial-in-search__props">
                              <li>драмма, приключения</li>
                              <li>США</li>
                              <li>выходит</li>
                            </ul>
                          </div>
                          <div class="serial-in-search-content__footer">
                                    <div class="service-rating">
                                      <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                                      <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                                    </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                          </div>
                        </div>
                      </div>
            </div>
            <hr>
            <div class="header-search-results-episodes">
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9388" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/1.png" alt="24 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">24 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="1846" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/2.png" alt="23 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">23 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="2674" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/3.png" alt="22 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">22 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
                      <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9365" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-in-search/4.png" alt="21 серия"></a>
                        <div class="catalog-episode__part"><span class="caption-2">12 сезон </span><span class="caption-3">21 серия</span>
                          <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.6</span></div>
                        </div>
                      </div>
            </div><a class="btn btn_yellow header-search-results__btn-more full-width" href="javascript:void(0);"><span>
                 Показать все результаты<i class="icon-duble-chevron-down"></i></span></a>
          </div>
        </div>
        <div class="header-search__backdrop"></div>
                <div class="modal modal-filter" id="modal-filter" data-title="Поиск нужного сериала">
                  <form class="modal-search__form">
                    <div class="col-2">
                              <div class="select  form-item" id="genre" aria-expanded="false" data-label="Жанр">
                                <select id="select-genre" name="genre">
                                  <option value="">Все</option>
                                  <option value="1">Биография</option>
                                  <option value="2">Боевик</option>
                                  <option value="3">Вестерн</option>
                                  <option value="4">Военный</option>
                                  <option value="5">Детектив</option>
                                  <option value="6">Дорамы</option>
                                  <option value="7">Драма</option>
                                </select>
                              </div>
                              <div class="select  form-item" id="status" aria-expanded="false" data-label="Статус сериала">
                                <select id="select-status" name="status">
                                  <option value="">Все</option>
                                  <option value="1">Выходит</option>
                                  <option value="2">Закрыт/Завершен</option>
                                </select>
                              </div>
                    </div>
                    <div class="col-2">
                              <div class="select  form-item" id="country" aria-expanded="false" data-label="Страна">
                                <select id="select-country" name="country">
                                  <option value="">Все</option>
                                  <option value="1">Австралия</option>
                                  <option value="2">Австрия</option>
                                  <option value="3">Аргентина</option>
                                  <option value="4">Бельгия</option>
                                  <option value="5">Бразилия</option>
                                  <option value="6">Великобритания</option>
                                  <option value="7">Венгрия</option>
                                  <option value="8">Германия</option>
                                  <option value="9">Дания</option>
                                  <option value="10">Израиль</option>
                                  <option value="11">Индия</option>
                                </select>
                              </div>
                              <div class="select  form-item" id="tv" aria-expanded="false" data-label="Телеканал">
                                <select id="select-tv" name="tv">
                                  <option value="">Все</option>
                                  <option value="1">FX</option>
                                  <option value="2">Netflix</option>
                                  <option value="3">BBC</option>
                                </select>
                              </div>
                    </div>
                    <button class="btn"><span>Найти сериал</span></button>
                  </form>
                  <button class="link modal-search__btn-clear">Сбросить</button>
                  <button class="btn btn_outline-gradient full-width modal-search__btn-random"><span>Случайный сериал</span></button>
                </div>
        <div class="container">
          <main class="serial-page">
            <h1 class="page-title">Рик и Морти смотреть онлайн</h1>
            <div class="serial-nav">
              <div class="serial-nav__item"><a href="#all-episodes">1 серия</a></div>
              <div class="serial-nav__item"><a href="#all-episodes">Все серии</a></div>
              <div class="serial-nav__item"><a href="#best-episodes">Лучшие серии</a></div>
              <div class="serial-nav__item"><a href="#about-serial">О сериале</a></div>
            </div>
            <div class="serial-player">
              <div class="serial-player-wrap">
                <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"></iframe>
              </div>
            </div>
            <div class="tabs serial-tabs" role="tablist">
              <div class="tabs-list col_2">
                <div class="tabs-list__border"></div><a class="tabs-list__item" href="#all-episodes" role="tab" aria-selected="true"> <span>Все серии</span></a><a class="tabs-list__item" href="#best-episodes" role="tab" aria-selected="false"> <span>Лучшие серии<sup><i class="icon-imdb"></i></sup></span></a>
              </div>
              <div class="tabs-content">
                <div class="tabs-content-list">
                  <div class="tabs-content-list__item" id="all-episodes" aria-hidden="false">
                    <div class="serial-episodes">
                      <div class="serial-episodes-header">
                        <div class="serial-episodes__seasons swiper-container">
                          <div class="swiper-wrapper"><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">1</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">2</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">3</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">4</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a></div>
                          <button class="swiper-button-next"><i class="icon-chevron-right"></i></button>
                        </div><a class="serial-episodes__sort" href="javascript:void(0);"><i class="icon-big-arrow-down"></i><i class="icon-big-arrow-up"></i></a>
                      </div>
                      <div class="serial-episodes-list">
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8210" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/11.png" alt="1 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">1 серия</span>
                                              </div>
                                            </div>
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8240" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/12.png" alt="2 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">2 серия</span>
                                              </div>
                                            </div>
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8410" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/13.png" alt="3 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">3 серия</span>
                                              </div>
                                            </div>
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="8214" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/14.png" alt="4 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">1 сезон </span><span class="caption-3">4 серия</span>
                                              </div>
                                            </div>
                      </div>
                      <button class="btn btn_yellow serial-episodes__btn-more full-width"><span>
                           Посмотреть остальные серии<i class="icon-duble-chevron-down"></i></span></button>
                    </div>
                  </div>
                  <div class="tabs-content-list__item" id="best-episodes" aria-hidden="true">
                    <div class="serial-episodes">
                      <div class="serial-episodes-header">
                        <div class="serial-episodes__seasons swiper-container">
                          <div class="swiper-wrapper"><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">1</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">2</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">3</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">4</a><a class="serial-episodes__season swiper-slide" href="javascript:void(0);">5</a></div>
                          <button class="swiper-button-next"><i class="icon-chevron-right"></i></button>
                        </div><a class="serial-episodes__sort" href="javascript:void(0);"><i class="icon-big-arrow-down"></i><i class="icon-big-arrow-up"></i></a>
                      </div>
                      <div class="serial-episodes-list">
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9471" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/37.png" alt="7 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">3 сезон </span><span class="caption-3">7 серия</span>
                                                <div class="catalog-episode__rating"><i class="icon-star"></i><span>9.9</span></div>
                                              </div>
                                            </div>
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9417" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/31.png" alt="1 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">3 сезон </span><span class="caption-3">1 серия</span>
                                                <div class="catalog-episode__rating"><i class="icon-star"></i><span>8.9</span></div>
                                              </div>
                                            </div>
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="9177" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/74.png" alt="4 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">7 сезон </span><span class="caption-3">4 серия</span>
                                                <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.9</span></div>
                                              </div>
                                            </div>
                                            <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="1477" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/73.png" alt="3 серия"></a>
                                              <div class="catalog-episode__part"><span class="caption-2">7 сезон </span><span class="caption-3">3 серия</span>
                                                <div class="catalog-episode__rating"><i class="icon-star"></i><span>6.9</span></div>
                                              </div>
                                            </div>
                      </div>
                      <button class="btn btn_yellow serial-episodes__btn-more full-width"><span>
                           Посмотреть остальные серии<i class="icon-duble-chevron-down"></i></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="serial-random-episodes">
              <button class="btn btn_outline-gradient full-width serial-random-episodes__btn"><span> 
                  <!-- по умолчанию этой иконки нет, добавляется поле нажатия--><i class="icon-refresh"></i>Случайная серия</span></button>
              <!-- по умолчанию эпизодов нет-->
              <div class="serial-random-episodes-list">
                                    <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="6341" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/22.png" alt="2 серия"></a>
                                      <div class="catalog-episode__part"><span class="caption-2">2 сезон </span><span class="caption-3">2 серия</span>
                                        <div class="catalog-episode__rating"><i class="icon-star"></i><span>8.9</span></div>
                                      </div>
                                    </div>
                                    <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="6312" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/42.png" alt="2 серия"></a>
                                      <div class="catalog-episode__part"><span class="caption-2">4 сезон </span><span class="caption-3">2 серия</span>
                                        <div class="catalog-episode__rating"><i class="icon-star"></i><span>8.4</span></div>
                                      </div>
                                    </div>
                                    <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="6142" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/28.png" alt="8 серия"></a>
                                      <div class="catalog-episode__part"><span class="caption-2">2 сезон </span><span class="caption-3">8 серия</span>
                                        <div class="catalog-episode__rating"><i class="icon-star"></i><span>7.7</span></div>
                                      </div>
                                    </div>
                                    <div class="catalog-episode"><a class="catalog-episode__info" href="javascript:void(0);" data-info-popover-id="1342" data-popover-type="episode"><i class="icon-info"></i></a><a class="catalog-episode__img" href="javascript:void(0);"><img src="./images/serial-episodes/47.png" alt="7 серия"></a>
                                      <div class="catalog-episode__part"><span class="caption-2">4 сезон </span><span class="caption-3">7 серия</span>
                                        <div class="catalog-episode__rating"><i class="icon-star"></i><span>8.2</span></div>
                                      </div>
                                    </div>
              </div>
            </div>
            <div class="serial-info" id="about-serial">
              <div class="serial-info-title">
                <h2 class="serial-info__title">Подробнее о сериале «Рик и Морти»</h2>
              </div>
              <div class="serial-info-body">
                <div class="serial-info__poster"><img src="./images/serial-poster.png" alt=""></div>
                <div class="serial-info-header">
                  <h3 class="serial-info__name">Рик и Морти</h3>
                  <p class="serial-info__original-name">Rick and Morty, 2013–...</p>
                  <ul class="serial-info__props">
                    <li>мультфильм, комедия</li>
                    <li>Великобритания</li>
                    <li>выходит</li>
                    <li class="serial-info__amount-seasons">5 сезонов</li>
                  </ul>
                  <div class="serial-info__rating">
                            <div class="service-rating">
                              <div class="service-rating__item"><i class="icon-kinopoisk"></i><span>7.6</span></div>
                              <div class="service-rating__item"><i class="icon-imdb"></i><span>8.4</span></div>
                            </div><a class="link" href="javascript:void(0);" data-trailer-id="2155"> <i class="icon-play"></i><span>Трейлер</span></a>
                  </div>
                </div>
<div class="serial-rating">
  <div class="serial-rating__stars"><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i></div>
  <div class="serial-rating__text">1568 голосов</div>
  <div class="serial-rating-vote">
    <button class="serial-rating-vote__open-vote-bar"><i class="icon-star"></i><span>Оценить</span></button>
    <div class="serial-rating-vote__bar" aria-hidden="true">
      <div class="serial-rating-vote__bar-stars"><a class="icon-star" href="javascript:void(0);"></a><a class="icon-star" href="javascript:void(0);"></a><a class="icon-star" href="javascript:void(0);"></a><a class="icon-star" href="javascript:void(0);"></a><a class="icon-star" href="javascript:void(0);"></a></div>
      <button class="serial-rating-vote__bar-close"><i class="icon-close"></i></button>
    </div>
  </div>
</div>
                <div class="serial-info__description show-more">
                  <div class="show-more-wrap" aria-expanded="false" data-height="({desktop:147,mobile:350})">
                    <p>
                       В центре сюжета — школьник по имени Морти и его дедушка Рик. Морти — самый обычный мальчик, 
                      который ничем не отличается от своих сверстников. А вот его дедуля занимается необычными 
                      научными исследованиями и зачастую полностью неадекватен. Он может в любое время дня и ночи 
                      схватить внука и отправиться вместе с ним в межпространственные приключения с помощью 
                      построенной из разного хлама летающей тарелки, которая способна перемещаться сквозь временной 
                      тоннель. Каждый раз эта парочка оказывается в самых неожиданных местах и самых нелепых ситуациях.
                    </p>
                  </div><a class="show-more__toggle" href="javascript:void(0);"><span>Посмотреть все описание</span><i class="icon-duble-chevron-down"></i></a>
                </div>
              </div>
            </div>
            <div class="comments"><img src="./images/comments.png" alt=""></div>
          </main>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ul> 
              <li><a href="/">Главная</a></li>
              <li><span>Рик и Морти</span>
              </li>
            </ul>
          </div>
        </nav>
      </div>
<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-left"><span>&copy; 2020, Название проекта</span></div>
      <div class="footer-right"><a class="footer__mail" href="mail:mail@protomail.com">mail@protomail.com</a>
        <div class="footer__social"><a href="javascript:void(0);"><span><i class="icon-telegram"></i></span></a><a href="javascript:void(0);"><span><i class="icon-vk"></i></span></a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
